<%- include("../_html", {title: `Edit ${user.first_name}`, cssLink: ""}) %>
    <h1>Create User</h1>
    <form action="http://localhost:5000/users/<%= user._id %>" method="post">
      <input type="hidden" value="patch" name="method" />
      <div>
        <label for="first_name">First Name</label>
        <input
          type="text"
          value="<%= user.first_name %>"
          name="first_name"
          id="first_name"
        />
      </div>
      <div>
        <label for="last_name">Last Name</label>
        <input
          type="text"
          value="<%= user.last_name %>"
          name="last_name"
          id="last_name"
        />
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" value="<%= user.email %>" name="email" id="email" />
      </div>
      <div>
        <label for="age">Age</label>
        <input type="text" value="<%= user.age %>" name="age" id="age" />
      </div>
      <div>
        <input type="submit" value="Submit Button" name="submit" />
      </div>
    </form>
  </body>
</html>
